<section class="content">
    <div class="container-fluid">
        <br>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Información General
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                        <div id="accordion">

                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                                            Facultades participantes
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="position-relative p-2 bg-gray" style="height: 50px">
                                            <div class="ribbon-wrapper ribbon-lg">
                 
                                            </div>
               
                                            <h3 class="text-center">FIA</h3>
                                        </div>

                                        <div class="position-relative p-2 bg-gray mt-2" style="height: 50px">
                                            <div class="ribbon-wrapper ribbon-lg">
                 
                                            </div>
               
                                            <h3 class="text-center">FCS</h3>
                                        </div>

                                        <div class="position-relative p-2 bg-gray mt-2" style="height: 50px">
                                            <div class="ribbon-wrapper ribbon-lg">
                 
                                            </div>
               
                                            <h3 class="text-center">FIA</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Proyecto
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul>
                            <div class="position-relative p-3 bg-gray" style="height: 180px">
                                <div class="ribbon-wrapper ribbon-lg">
                                    <div class="ribbon bg-success text-lg">
                                        Actual
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h3>Ayllu Sinchi</h3>
                            </div>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Programa
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul>
                            <div class="alert alert-gray bg-gray alert-dismissible">
                                <h5><i class="icon fas fa-check"></i> Aylllu Sinchi</h5>
                                <br>

                                <div class="callout callout-success">
                                    <h5>I am a danger callout!</h5>

                                    <p>Semilleros de
                                        emprendedores
                                        de esperanza</p>
                                </div>
                                <button type="button" class="btn btn-block btn-dark btn-lg"
                                    routerLink="/user-dashboard/talleres">Ingresar</button>
                            </div>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        </div>
        <!-- /.row -->



    </div><!-- /.container-fluid -->
</section>