<section class="content">
    <div class="container-fluid">
        <br>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Información General
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                        <div id="accordion">

                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                                            Facultades participantes
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <div *ngFor="let facultad of facultades">
                                            <div class="card bg-secondary collapsed-card">
                                                <div class="card-header">
                                                    <h3 class="card-title">{{facultad.abreviacion}}</h3>
                                                    <div class="card-tools">
                                                        <button type="button" class="btn btn-tool"
                                                            data-card-widget="collapse">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>

                                                </div>

                                                <div class="card-body" style="display: none;">
                                                    {{facultad.nombre}}
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Proyecto
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" *ngFor="let proyecto of proyectos">
                        <ul>
                            <div class="position-relative p-3 bg-gray rounded" style="height: 180px">
                                <div class="ribbon-wrapper ribbon-lg">
                                    <div class="ribbon bg-dark text-lg">
                                        Actual
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h3>{{proyecto.nombre}}</h3>
                            </div>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Programa
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul>
                            <div class="alert alert-gray bg-gray alert-dismissible">
                                <br>

                                <div class="callout callout-black" *ngFor="let taller of talleres">

                                    <h6 class="text-secondary">{{taller.programa.nombre}}</h6>
                                    <button type="button" class="btn btn-block btn-secondary btn-lg mt-2"
                                    [routerLink]="['/user-dashboard/talleres/ver', taller.idTaller]">Ingresar</button>

                                </div>

                                
                          
                            </div>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        </div>
        <!-- /.row -->



    </div><!-- /.container-fluid -->
</section>