<section class="content">
    <div class="container-fluid">
        <br>


        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Información General</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                        <div id="accordion">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                                            Facultades participantes
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion" *ngFor="let facultad of facultades">
                                    
                                    <div  class="info-box">
                                        <span class="info-box-icon bg-secondary"><i class="fa fa-cube"></i></span>
                                        <div class="info-box-content">
                                        <span class="info-box-text"> {{facultad.abreviacion}}</span>
                                        <span class="info-box-number">{{facultad.nombre}}</span>
                                    </div>
   
                                    </div>
                                    
                                    </div>
      
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                                            Reseña
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body" *ngFor="let proyecto of proyectos">
                                        {{proyecto.resenia}}
                                    </div>
                                </div>
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header" *ngFor="let proyecto of proyectos">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" href="#collapsDo">
                                            Objetivo General
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsDo" class="collapse" data-parent="#accordion">
                                    <div class="card-body" *ngFor="let proyecto of proyectos">
                                        {{proyecto.objetivoGeneral}}
                                    </div>
                                </div>
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                                            Obejetivo especifico
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body" *ngFor="let proyecto of proyectos">
                                        {{proyecto.objetivoEspecifico}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" *ngFor="let proyecto of proyectos">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            Proyecto {{proyecto.nombre}}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body clearfix">
                        <blockquote class="quote-secondary">
                            <h5>Este proyecto se desarrolla en la comunidad Quinta Elena.</h5>
                            <br>
                            <h6 class="text-dark"> <i class="fas fa-arrow-down"></i> La ubicación es la siguiente</h6>
                        </blockquote>
                        <button type="button" class="btn btn-block btn-dark btn-lg py-2" routerLink="/user-dashboard/programas">Ingresar</button>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>
        <!-- /.row -->
        <!-- END ACCORDION & CAROUSEL-->




    </div><!-- /.container-fluid -->
</section>