<br>
<br>
<br>




<div class="row justify-content-center mr-3">


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-secondary">
            <div class="inner" *ngFor="let taller of talleres">
                <br>
                <h4 class="text-center">{{taller.nombre}}</h4>
                <br>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center mr-3">


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-secondary">
            <div class="inner">
                <br>
                <h4 class="text-center">Registrar asistencia</h4>
                <br>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer">Ir <i class="fas fa-arrow-circle-right" (click)="openModal()"></i></a>
        </div>
    </div>

</div>


<div class="row justify-content-center mr-3">


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-secondary">
            <div class="inner">
                <br>
                <h4 class="text-center">Registrar asistencia participantes</h4>
                <br>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer">Ir <i class="fas fa-arrow-circle-right" (click)="openModal2()"></i></a>
        </div>
    </div>

</div>