<br>
<br>
<br>




<div class="row justify-content-center mr-3">


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-olive">
            <div class="inner">
    <br>
                <h4 class="text-center">Marketing Digital</h4>
<br>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center mr-3">


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-olive">
            <div class="inner">
    <br>
                <h4 class="text-center">Registrar asistencia</h4>
<br>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a routerLink="/user-dashboard/registrar-asistencia" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>


<div class="row justify-content-center mr-3">


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-olive">
            <div class="inner">
    <br>
                <h4 class="text-center">Registrar asistencia participantes</h4>
<br>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a routerLink="/user-dashboard/registrar-asistencia/personas" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>

