<!-- Main content -->
<br>
<section class="content ml-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Personas Participantes</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>DNI</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Sexo</th>
                                    <th>Número de celular</th>
                                    <th>Asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>Gerald Franko</td>
                                    <td>Sandy Coral</td>
                                    <td>71882062</td>
                                    <td>08/06/2001</td>
                                    <td>F</td>
                                    <td>939038017</td>
                                    <td class="project-state">
                                        <span class="badge badge-success">Asistió</span>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>