<br>
<div class="card ml-3 mr-3">
    <div class="card-header">
        <h3 class="card-title">Lista de Recursos</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped projects">
            <thead class="thead-light">
                <tr>
                    <th>Taller</th>
                    <th>Programa</th>
                    <th>Descripción</th>
                    <th>Carrera</th>
                    <th>Seleccionar fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{taller.nombre}}</td>
                    <td>{{taller.programa.nombre}}</td>
                    <td>{{taller.descripcion}}</td>
                    <td>{{taller.carrera.nombre}}</td>
                    <td><button type="button" class="btn btn-block btn-secondary" [routerLink]="['/user-dashboard/asistencia/ver', taller.idTaller]">{{taller.fechaInicio | date: 'dd/MM/yyyy'}}</button></td>
                </tr>
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<br>
