<br>
<div class="card ml-3 mr-3">
    <div class="card-header">
        <h3 class="card-title">Lista de Recursos</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Taller</th>
                    <th>Descripción</th>
                    <th>Carrera</th>
                    <th>Tema</th>
                    <th>Seleccionar fecha</th>
                </tr>
            </thead>
            <tbody>
  
                <tr>
                    <td>Carrera</td>
                    <td>Internet
                        Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td><button type="button" class="btn btn-block btn-secondary" routerLink="/user-dashboard/asistencia">08/09/2022</button></td>
                </tr>
                <tr>
                    <td>Carrera</td>
                    <td>Internet
                        Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td><button type="button" class="btn btn-block btn-secondary" routerLink="/user-dashboard/asistencia">08/09/2022</button></td>
                </tr>
                <tr>
                    <td>Carrera</td>
                    <td>Internet
                        Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td><button type="button" class="btn btn-block btn-secondary" routerLink="/user-dashboard/asistencia">08/09/2022</button></td>
                </tr>
             
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<br>
