<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="text-secondary">Reporte del Estudiante</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Project Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ml-3 mr-2">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-secondary">Especificaciones</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-dark">Estudiante</span>
                                    <span class="info-box-number text-center text-muted mb-0">2300</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-dark">Código</span>
                                    <span class="info-box-number text-center text-muted mb-0">2000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-dark">Fecha en que apoyo</span>
                                    <span class="info-box-number text-center text-muted mb-0">20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-secondary">Preguntas Generales</h4>
                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    Describir a detalle, en que parte del programa apoyo usted:
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Participe en todo el proyecto</h6>
                            </div>

                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    Curso vinculado:
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Desarrollo de aplicaciones distribuidas</h6>
                            </div>

                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    Docente del curso:
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Jose Bustamante Romero</h6>
                            </div>

                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    ¿Se relaciono usted con alguna persona? *Describa
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Jose Bustamante Romero</h6>
                            </div>
                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    ¿Averiguo usted si esta persona tiene otras necesidades?
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Jose Bustamante Romero</h6>
                            </div>

                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    ¿Estaria usted interesado en regresar a este lugar para que siga desarrollando otras actividades de apoyo a las persona que no necesariamente tengan nota?
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Jose Bustamante Romero</h6>
                            </div>

                            <div class="post">

                                <br>
                                <!-- /.user-block -->
                                <p class="text-dark">
                                    ¿Estaria usted interesado en poder hablar a esta persona acerca de Dios?
                                </p>

                                <h6><i class="fas fa-reply mt-2"></i> Jose Bustamante Romero</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h5 class="text-secondary"><i class="fas fa-arrow-down"></i> Programa social que apoyo : </h5>
                    <h2 class="text-muted mt-2"><i class="fa fa-envelope-open" aria-hidden="true"></i>
                        Emprededorismo</h2>

                    <h5 class="mt-3 text-muted"><i class="fas fa-arrow-down"></i> Evidencia</h5>
                    <div class="col-12 mt-2 col-sm-12">
                        <img class="card-img-top" src="../assets/dist/img/photo3.jpg" alt="Dist Photo 3">

                    </div>
                    <div class="text-center mt-5 mb-3">
                        <a href="#" class="btn btn-secondary">Descargar PDF</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>